<%- include header %>
        <% if(user){ %>
	  <form method="post" action="/post" class="well form-inline center" style="text-align: center;">
	    <input type="text" class="span8" name="post">
	    <button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i> 发言</button>
	  </form>
	<% } %>

	<% posts.forEach(function(post, index) { 
	  if (index % 3 == 0) { %>
	    <div class="row">
	<% } %>
	  <div class="span4">
	    <h2><a href="/u/<%= post.user %>"><%= post.user %></a> 说</h2>
	    <p><small><%= post.time %></small></p>
	    <p><%= post.post %></p>
	  </div>
	<% if (index % 3 == 2) { %>
	    </div><!-- end row -->
	<% } %>
	<% }) %>
	<% if (posts.length % 3 != 0) { %>
	  </div><!-- end row -->
	<% } %>

<%- include footer %>

